html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  text-align: center;
  padding: .5rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  background-color: #333;
  border-radius: 8px;
  font-size: 1.125rem;
  padding: .4em;
}

.btn-small {
  display: inline-block;
  border-radius: 8px;
  font-size: .875rem;
  padding: .3em;
}

.btn-big {
  display: inline-block;
  border-radius: 8px;
  font-size: 1.5rem;
  padding:.75em;
}
