html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  padding: .5rem;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  background-color: #333;
  border-radius: 8px;
  font-size: 1.125rem;
  padding: .4em;
}

.btn-small {
  font-size: .875rem;
}

.btn-spadding {
  display: inline-block;
  border-radius: 8px;
  padding: .3em;
}

.btn-big {
  font-size: 1.5rem;
}

.btn-bpadding {
  display: inline-block;
  border-radius: 8px;
  padding: .75em;
}

.btn-primary {
  background-color: #333;
  color: #fff;
}

.btn-subtle {
  background-color: #ccc;
  color: #fff;
}

.btn-ghost {
  background-color: #fff;
  color: #000;
}

.btn-ghostborder {
  border: 3px solid #000;
}

.btn-warning {
  background-color: #f33;
  color: #fff;
}

.btn:hover {
  background-color: #000;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost:hover {
  background-color: #666;
}

.btn-warning:hover {
  background-color: #933;
}
